$main-font: 'Lato', sans-serif;
$main-font-size: 18px;
$h2-font-size: (24/18)*1rem;
$h2-font-color: #05e7e6;
$main-font-weight: 400;
$main-color: white;
$second-color: #05e7e6;
$link-hover-color: #e53663;
$type-box-sizing: border-box;
$min-width: 320px;
$xs-width: 480px;
$sm-width: 768px;
$md-width: 992px;
$lg-width: 1200px;
$max-width: 1920px;
$link-text-decoration: none;
$link-cursor: pointer;